<form [formGroup]="todoData" (ngSubmit)="handleTodoForm()">
    <div *ngIf="isSubmitted && (todo?.errors?.required || todo?.errors?.minlength)"
        class="alert alert-warning alert-dismissible fade show" role="alert">
        <span *ngIf="isSubmitted && todo?.errors?.required">Task Should not be Empty.</span>
        <span *ngIf="isSubmitted && todo?.errors?.minlength">Minimal Character for Task is
            {{todo?.errors?.minlength?.requiredLength}}</span>
    </div>
    <div class="input-group mb-3">
        <input (change)="handleIsSubmittedState()" type="text" name="inputTodo" placeholder="Enter task..." class="form-control"
            formControlName="todo" [(ngModel)]="inputTodo" />
        <input type="submit" value="Add" class="btn btn-primary">
    </div>
</form>