<table class="table table-striped table-orange mt-3">
    <thead>
        <tr class="d-flex">
            <th scope="col" class="text-center col-2 clickable">Country Name</th>
            <th scope="col" class="text-center col-1 clickable">Capital</th>
            <th scope="col" class="text-center col-2 clickable">Area</th>
            <th scope="col" class="text-center col-2 clickable">Population</th>
            <th scope="col" class="text-center col-2 clickable">GDP (USD)</th>
            <th scope="col" class="text-center col-2">Currency</th>
            <th scope="col" class="text-center col-1"></th>
        </tr>
    </thead>
    <tbody>
        <div *ngFor="let country of countriesByName">
            <tr class="table-light d-flex">
                <td class="text-center text-center col-2">{{country.name}}</td>
                <td class="text-center col-1">{{country.capital}}</td>
                <td class="text-center col-2">{{country.area | number}} Km<sup>2</sup></td>
                <td class="text-center col-2">{{country.population | number}}</td>
                <td class="text-center col-2">{{country.gdp | number}}</td>
                <td class="text-center col-2">{{country.currency}}</td>
                <td class="text-center col-1">
                    <button [routerLink]="['/country-detail/', country.id]" class="btn btn-outline-primary">
                        Detail
                    </button>
                </td>
            </tr>
        </div>
    </tbody>
</table>